<section>
  <ul class="nav nav-tabs">
    <li ng-class="{ active: panel.isSelected(1) }">
      <a href ng-click="panel.selectTab(1)">Description</a>
    </li>
    <li ng-class="{ active: panel.isSelected(2) }">
      <a href ng-click="panel.selectTab(2)">Specifications</a>
    </li>
    <li ng-class="{ active: panel.isSelected(3) }">
      <a href ng-click="panel.selectTab(3)">Reviews</a>
    </li>
  </ul>
  
  <div class="panel-content" ng-show="panel.isSelected(1)">
    <p>{{ product.description }}</p>
  </div>
  <div class="panel-content" ng-show="panel.isSelected(2)">
    <p>None yet</p>
  </div>
  <div class="panel-content" ng-show="panel.isSelected(3)">
    <p ng-repeat="review in product.reviews">
      <strong>{{ review.stars }} Stars</strong>
      {{ review.body }}<br>
      <cite>- {{ review.author }}</cite>
    </p>

    <review-form></review-form>
  </div>
</section>