body {
	padding-top: 10px;
}

.container {
	max-width: 600px;
}

.img-wrap {
	margin-bottom: 20px;
}

.gallery {
	margin-bottom: 20px;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

[ng-click] {
	cursor: pointer;
}