<div class="panel">
	<ul class="list-unstyled">
		<h4>Reviews</h4>
		<li ng-repeat="review in product.reviews">
			<blockquote>
				<strong>{{review.stars}} stars</strong>
				{{review.body}}
				<cite class="clearfix">-{{review.author}} on {{review.createdAt | date:'medium'}}</cite>
			</blockquote>							
		</li>
	</ul>

	<!-- review form -->
	<form review-form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
	</form>
</div>